
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {

  background-color: black;
  color: white;
  min-width: 375px;

}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.inline-controls {
  margin-top: 16px;
}

.ie {
  width: 60px;
  height: 40px;
  margin: 8px;
  vertical-align: middle;
}

.large-font {
  font-size: large;
}
.small-font {
  font-size: small;
}

.success {
  background-color: green;
  color: white;
}

.menuBottom {
  position: absolute;
  display: inline;
  bottom: 12px;
  width: 100%;
}

.w100 {
  width: 100%;
}

.label {
  width: 60px;
  display: inline-block;
  font-size: small;
  vertical-align: middle;
  text-align: start;
}